/**
*	Mobile First Styling
**/

.page-title {
	position: relative;
	font-size: 1.2rem;
	padding-bottom: 3rem;
	margin-left: 10%;
}

.page-title:before {
	content: '';
	position: absolute;
	margin: auto;
	margin-bottom: 3rem;
	right: 0;
	left: 0;
	top: -5px;
	width: 30%;
	border-top: 3px solid $accent-color;
}

.content-container {
	width: 100%;
	position: relative;
	margin-bottom: 10%;
}

#content-section {
	overflow: hidden;
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 7rem;
}

#post-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	padding: 1rem;
	gap: 20px;

	.header-container {
		display: flex;
		flex-direction: column-reverse;
	}

	.post-links {
		margin-top: 3rem;
		height: 5rem;

		a {
			border: 2px solid $accent-color;
			border-radius: 5rem;
			padding: 1rem;
			width: 2rem;
		}

		a:hover {
			background-color: white;
			color: $accent-color;
		}
	}

	.post-info {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		h2 {
			margin: 0;
			padding: 0;
		}

		.date {
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1.3rem;
		}

		.user-info {
			font-size: 1.3rem;
		}
	}

	p {
		margin-bottom: 2rem;
		font-size: 1.2rem;
		padding-top: 1rem;
	}

	.right-button {
		margin-left: 1rem;
	}
}

.post-page {
	width: 90%;
	margin: 0 auto;
	p::first-letter {
		color: white;
		font-weight: bold;
		border-radius: 2px;
		border: 1px solid $muted-color;
		box-shadow: 3px 3px 0 $accent-color;
		font-size: 4rem;
		padding: 6px 3px;
		margin-right: 0.8rem;
		float: left;
	}

	p {
		line-height: 1.5;
		font-size: 1.3rem;
	}
}

.header-container-post-page {
	padding: 3rem 1rem 3rem 1rem;

	h1 {
		font-size: 3rem;
	}

	h2 {
		width: 50%;
		padding-top: 0.5rem;
	}
}
@media screen and (min-width: 900px) {
	#post-container {
		// flex-direction: row-reverse;
		.header-container {
			flex-direction: row;
			flex-wrap: wrap;
		}

		#content {
			width: 90%;

			#partialpost-link {
				border: none;
				padding: none;
				width: none;
			}
		}

		.post-info {
			width: 5rem;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			padding-right: 1rem;

			// height: 100%;

			.date {
				width: 100%;
				text-align: right;
				font-size: 2rem;
				color: white;
				margin-top: 0.5rem;
				font-weight: bold;
			}

			.user-info {
				margin-top: 5rem;
				transform: rotate(-90deg);
			}

			.post-links {
				width: 100%;
			}
		}
	}

	.header-container-post-page {
		h2 {
			width: 24%;
		}
	}
	.content-container {
		height: 100vh;
		margin-bottom: 0;
	}

	.post-content::first-letter {
		initial-letter: 2;
	}

	#content-section {
		width: 90%;
		min-height: 100vh;
		display: flex;
		padding-top: 3rem;
		flex-direction: column;
		margin: 0 auto;
	}

	.post-page {
		width: 70%;
	}
}
