/**
*	Mobile First Styling
**/

.page-title {
	position: relative;
	font-size: 1.2rem;
	padding-bottom: 3rem;
	margin-left: 10%;
}

.page-title:before {
	content: '';
	position: absolute;
	margin: auto;
	margin-bottom: 3rem;
	right: 0;
	left: 0;
	top: -5px;
	width: 30%;
	border-top: 3px solid $accent-color;
}

.content-container {
	width: 90%;
	position: relative;
	margin-bottom: 10%;
}

#content-section {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 7rem;
}

#post-container {
	height: 100%;
	display: flex;
	padding: 1rem;
	gap: 20px;

	.post-links {
		height: 10rem;
	}
	p {
		margin-bottom: 2rem;
		font-size: 1.2rem;
		padding-top: 1rem;
	}

	a {
		border: 2px solid $accent-color;
		border-radius: 5rem;
		padding: 1rem;
		width: 2rem;
	}

	a:hover {
		background-color: white;
		color: $accent-color;
	}

	.right-button {
		margin-left: 1rem;
	}
}

.post-page {
	width: 90%;
	margin: 0 auto;
	p::first-letter {
		color: white;
		font-weight: bold;
		border-radius: 2px;
		border: 1px solid $muted-color;
		box-shadow: 3px 3px 0 $accent-color;
		font-size: 4rem;
		padding: 6px 3px;
		margin-right: 0.8rem;
		float: left;
	}

	p {
		line-height: 1.5;
		font-size: 1.3rem;
	}
}

.header-container-post-page {
	padding: 3rem 1rem 3rem 1rem;

	h1 {
		font-size: 3rem;
	}

	h2 {
		width: 50%;
		padding-top: 0.5rem;
	}
}
@media screen and (min-width: 900px) {
	.post-info {
		width: 5rem;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		// justify-content: space-evenly;
		// height: 100%;

		.date {
			width: 100%;
			text-align: right;
			font-size: 2rem;
			color: white;
			margin-top: 0.5rem;
			font-weight: bold;
		}

		.user-info {
			margin-top: 5rem;
			transform: rotate(-90deg);
		}
	}
	.header-container-post-page {
		h2 {
			width: 24%;
		}
	}
	.content-container {
		height: 100vh;
		margin-bottom: 0;
	}

	.post-content::first-letter {
		initial-letter: 2;
	}

	#content-section {
		width: 90%;
		min-height: 100vh;
		display: flex;
		padding-top: 3rem;
		flex-direction: column;
		margin: 0 auto;
	}

	.post-page {
		width: 70%;
	}
}
