/**
* Mobile First Styling
**/

.centered-container {
	height: 10%;
	position: fixed;
	bottom: 0;
	z-index: 100;
	background-color: $background-color;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar {
	background-color: $background-color;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	width: 90%;
	border: 2px solid $accent-color;
	padding: 1rem;
	margin: 1rem;

	a {
		font-size: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.links {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 900px) {
	.centered-container {
		width: 10%;
		position: relative;
	}
	#navbar {
		left: 0;
		height: 100%;
		width: 10%;
		border: 0;
		border-right: 3px solid $accent-color;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;

		a {
			font-size: 1rem;
		}
		.links {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			flex-direction: column;

			a {
				padding-top: 2rem;
			}

			.alone-link {
				padding-top: 15rem;
			}
		}
	}
}
